body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background: url("../images/pngtree-shades-of-green-image_712859.jpg") no-repeat
    center center fixed;
  background-size: cover;
}

.container {
  width: 400px;
  text-align: center;
  padding: 20px;
}

.form-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: #333;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
  color: #27ae60;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #27ae60;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2ecc71;
}

header {
  padding-left: 60px;
}

header p {
  font-size: 20px;
  color: rgb(66, 65, 65);
}

#loginMessage,
#signupMessage {
  margin-top: 15px;
  color: red;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.links a {
  color: #27ae60;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.social-login button {
  width: 48%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.social-login .facebook {
  background-color: #3b5998;
}

.social-login .facebook:hover {
  background-color: #2d4373;
}

.social-login .twitter {
  background-color: #141515f6;
}

.social-login .twitter:hover {
  background-color: #0d95e8;
}

.switch-form {
  margin-top: 20px;
}

.switch-form span {
  margin-right: 10px;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px);
  }
  50% {
    transform: translate(5px);
  }
  75% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(0);
  }
}

.shake {
  animation: shake 0.5s;
}
